<nav>
  <header>
    <h2>Secure Banking</h2>
  </header>
  <ul>
    <li><a routerLink="/balance" routerLinkActive="active">Account Balance</a></li>
    <li><a routerLink="/convert-crypto" routerLinkActive="active">Crypto Conversion</a></li>
    <li><a routerLink="/convert-fiat" routerLinkActive="active">Fiat Conversion</a></li>
    <li><a routerLink="/deposit" routerLinkActive="active">Deposit Funds</a></li>
    <li><a routerLink="/transactions" routerLinkActive="active">Transaction History</a></li>
    <li><a routerLink="/withdrawals" routerLinkActive="active">Withdrawals</a></li>
  </ul>
</nav>
